<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title> <?php echo $title; ?> </title>
  <link rel="shortcut icon" href="http://yusure.cn/icon.ico">
  <script src="<?php echo __PUBLIC__; ?>/js/jquery.js"></script>
  <script src="http://cdn.amazeui.org/amazeui/2.5.2/js/amazeui.js"></script>
  <script src="<?php echo __PUBLIC__; ?>/js/function.js"></script>
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.5.2/css/amazeui.css">
</head>
<body>
